* {
	font-family: "Open Sans", "Helvetica Neue", Arial, Verdana, Geneva, sans-serif;
}

body {
	margin: 0;
	overflow: hidden;
}

#canvas {
	width: 32768px;
	height: 32768px;
	background-color: #cccccc;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas .gate-temporary {
	opacity: 0.3;
}

#canvas .gate:hover {
	cursor: pointer;
}

#canvas .gate.selected {
	opacity: 0.5;
}

#canvas .gate[this-state="true"] {
	-webkit-filter: url("../img/filter.svg#highlight");
	filter: url("../img/filter.svg#highlight");
}

#canvas path.active {
	stroke: red;
}

#tooltip {
	padding: 4px 8px 4px 8px;
	background-color: #eeeeee;
	box-shadow: 2px 0px 2px 1px #777777;
	position: fixed;
	top: 8px;
	left: 8px;
	font-size: 12px;
}

#panel {
	background-color: #eeeeee;
	box-shadow: 2px 0px 2px 1px #777777;
	position: fixed;
	top: 40px;
	left: 8px;
	font-size: 12px;
}

#panel .gate-container {
	padding: 4px 8px 4px 8px;
}

#panel .gate-container:hover {
	background-color: #b19cd9;
	cursor: pointer;
}

#panel .gate-container.selected {
	background-color: #9477cb;
}

#panel .nametag {
	text-align: center;
}

#panel img {
	width: 62px;
	height: 34px;
}
